# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# TypeScript, JavaScript, JSON files
[*.{ts,js,json,jsonc}]
indent_style = space
indent_size = 2
max_line_length = 100

# Markdown files
[*.md]
trim_trailing_whitespace = false

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Docker files
[Dockerfile*]
indent_style = space
indent_size = 2

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2

# Package files
[package.json]
indent_style = space
indent_size = 2

# Configuration files
[*.{cfg,conf,ini}]
indent_style = space
indent_size = 2

# HTML files
[*.html]
indent_style = space
indent_size = 2

# CSS/SCSS files
[*.{css,scss,sass,less}]
indent_style = space
indent_size = 2

# XML files
[*.{xml,svg}]
indent_style = space
indent_size = 2
